body{
	margin:0;
}
.maincontainer{
	width:100%;
	height:100px;
	background-color:navy;
}
.innercontainer{
	width:1000px;
	height:100px;
	background-color:navy;
	margin:auto;
}
.logo{
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	color:white;
	margin-bottom:0;
	margin-top:50px;
	float:left;
}
.logintable{
	font-family:arial;
	float:right;
	font-size:13px;
	color:white;
	margin-top:30px;
}
.maincounter{
	width:100%;
	height:470px;
	background:url('../images/download.jpg');
}
.innercounter1{
	width:1000px;
	height:500px;
	margin:auto;
}
.left{
	width:500px;
	height:500px;
	float:left;
}
.right{
	width:500px;
	height:500px;
	float:left;
}
.left1{
	width:150px;
	height:auto;
	float:left;
	margin-top:40px;
}
.left2{
	width:320px;
	height:auto;
	margin-left:30px;
	float:left;
	font-family:arial;
	font-size:13px;
	margin-top:40px;
}
.left2 ul{
	padding-left:25px;
	float:left;
}
.left2 ul li{
	line-height:25px;
	float:left;
}
.righttable{
	font-family:arial;
	font-size:13px;
	margin-top:50px;
	margin-left:70px;
}
.su{
	font-family:arial;
	font-size:18px;
	font-weight:bold;
}
.righttable input[type="text"]
{
	width:228px;
	height:28px;
	border:solid 1px #ccc;
}
.righttable select{
	border:solid 1px #ccc;
	padding:5px;
}
.footer{
	width:1000px;
	height:50px;
	margin:auto;
}
.first1{
	list-style:none;
	margin:0;
	padding:0;
	font-family:arial;
	font-size:12px;
}
.first1 li{
	float:left;
	margin-right:10px;
}
.abc{
	clear:both;
}
.fdiv{
	float:left;
	font-family:arial;
	font-size:12px;
}
.first2{
	list-style:none;
	margin:0;
	padding:0;
	font-family:arial;
	font-size:12px;
	float:right;
}
.first2 li{
	float:left;
	margin-right:10px;
}















